In [11]:

def student_database_management():

    # writing a function.

    print("Welcome to Student Database System!")
    student_list = []    # initialising the list
    student_ID = 1       # initialising the counter from 1

    while True:
        new_student = input("Add a student. ").title()   # making sure the name is added in title
        if new_student == "Stop":                        # bcz of title method had to put in stop with a capital "S"
            break
        if new_student in student_list:
          print("Duplicate Student")
        else:
          student_list.append((new_student, student_ID))
          student_ID += 1


    print("Complete list of students, (tuples)")
    print(student_list)

    for new_student, student_ID in student_list:
        print(f"ID: {student_ID}, Name: {new_student}")

    print(f"Total number of students: {len(student_list)}")
    total_length = sum(len(new_student) for new_student, student_ID in student_list)   # I could also use "_" instead of student_ID in this line cz "_" will not be used later.
    print(f"Length of names: {total_length}")

    longest_word = ""
    for new_student, student_ID in student_list:
      if len(new_student) > len(longest_word):
        longest_word = new_student

    print(f"Student with the longest name: {longest_word}")


    shortest_word = student_list[0][0]
    for new_student, student_ID in student_list:
      if len(new_student) < len(shortest_word):
        shortest_word = new_student

    print(f"Student with the shortest name: {shortest_word}")



#Alternate code:

    # print(f"Student with the longest name: {max(student_list, key=lambda x: len(x[0]))[0]}")
    # print(f"Student with the shortest name: {min(student_list, key=lambda x: len(x[0]))[0]}")

In [12]:
student_database_management()

Welcome to Student Database System!
Add a student. nadia
Add a student. arshad
Add a student. madi
Add a student. minahil
Add a student. ali
Add a student. stop
Complete list of students, (tuples)
[('Nadia', 1), ('Arshad', 2), ('Madi', 3), ('Minahil', 4), ('Ali', 5)]
ID: 1, Name: Nadia
ID: 2, Name: Arshad
ID: 3, Name: Madi
ID: 4, Name: Minahil
ID: 5, Name: Ali
Total number of students: 5
Length of names: 25
Student with the longest name: Minahil
Student with the shortest name: Ali